@import 'menuButton';
nav{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	min-height: 50vh;
}
.menu-list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 0;
	text-align: left;
	overflow: auto;
	transition: width ease-in .6s;
	background-color: $secondary;
	li{
		margin: 0 1.5em;
		list-style: none;
		&:first-child{
			margin-top: 4em;
		}
		&:last-child{
			margin-bottom: 1.5em;
		}
		a {
			display: block;
			padding: .25em 0;
			position: relative;
			font-size: 1.1em;
			text-transform: uppercase;
			white-space: nowrap;
			cursor: pointer;
		}
	}
	.submenu{
		padding-left: 1em;
		font-size: .9em;
		li{
			margin: 0;
			&:first-child,&:last-child{
				margin: 0;
			}
		}
	}
}
@media(min-width: $lg){
	nav{
		right: 0;
		min-height: unset;
	}
	.menu-list{
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		height: auto;
		background-color: transparent;
		transition: background-color 200ms linear;
		li{
			margin: 1em;
			&:first-child, &:last-child{
				margin: 1em;
			}
			a{
				font-weight: normal;
				&:hover, &:focus{
					color: $primaryDarker;
				}
			}
		}
		.has-submenu{
			.submenu{
				display: none;
			}
			&:hover{
				.submenu{
					display: block;
					background: white;
				}
			}
		}
	}
}
.menu-colored{
	background-color: white;
	li{
		margin: .5em 1em;
		&:first-child, &:last-child{
			margin: .5em 1em;
			a{
				padding: 0;
			}
		}
	}
}