@import '_menuButton';
nav{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.menu-list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 0;
	text-align: left;
	overflow: auto;
	transition: width ease-in .6s;
	background-color: white;
	li{
		margin: 0 1.5em;
		list-style: none;
		&:first-child{
			margin-top: 4em;
		}
		&:last-child{
			margin-bottom: 1.5em;
		}
		a {
			display: block;
			padding: .25em 0;
			position: relative;
			font-size: 1.1em;
			color: $primary;
			text-transform: uppercase;
			white-space: nowrap;
			cursor: pointer;
			&:hover, &:focus{
				color: $secondary;
			}
		}
	}
}
@media(min-width: $lg){
	nav{
		padding-left: 5em;
		min-height: unset;
	}
	.menu-list{
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		height: auto;
		background-color: transparent;
		transition: background-color 200ms linear;
		li{
			margin: 1em 1em .5em 1em;
			&:first-child{
				margin: 1em 1em .5em 0;
			}
			&:last-child{
				margin: 1em 1em .5em 1em;
			}
			a{
				font-weight: normal;
				padding: 0;
			}
		}
	}
}
.menu-colored{
	background-color: white;
	li{
		margin: .5em 1em;
		&:first-child{
			margin: .5em 1em .5em 0;
		}
		&:last-child{
			margin: .5em 1em;
		}
	}
}