// $white: #FFFFFF;
$secondary: #d0d0d0;
// $mango: #EFCE1A;
// $mango: #99553b;
// $mango: rgb(107, 107, 131);
// $mango: #a28f43;
// $mango:#7d43a2;
// $mango: #d6db71;
$primary: #f9c1a6;
$third: #063e59;
// primary color for menu button and all green
// $secondary: #745361;
// secondary for menu ul and headings
// $pink: rgba(#D15850,.6);
// $third: #aa4b6b;
// $four: #6b6b83;
// $pink: rgba(#aa4b6b,.6);
// $pink:rgba(#f9bd9b,.6);
// $teal: rgb(59, 141, 153);
// $green: #00645A;
// $green: #3b8d99;
// $green: #4cbda4;
// $light-green: rgba($green,.7);
// $light-green: rgba($teal,.7);
// $light-green: rgba($green, .7);
$light-grey: #BBBBBB;
$grey: #717171;
$dark-grey: #282828; // text

$tablet: 900px;
$landscape: 600px;
$phone: 400px;
