@import '_base';
@import '_icons';
main{
	position: relative;
	min-height: 100vh;
}
.particles{
	position: absolute;
	z-index: -2;
	overflow: hidden;
	&:first-child{
		top: 0;
		right: 0;
	}
	&:nth-child(2){
		top: 0;
		left: 0;
	}
	&:nth-child(3){
		right: 10%;
		top: 60vh;
	}
}
.bg{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	z-index: -1;
}
.home {
	height: 100vh;
	min-height: 400px;
	position: relative;
	.home-heading{
		margin-top: 6em;
		p{
			background: rgba(white,.7);
			padding: .5em 0 1em 0;
			max-width: 12em;
			color: $primary;
		}
	}
	@media(orientation:portrait){
		max-height: 800px;
	}
	@media(max-width: $md) and (orientation: portrait){
		.home-heading{
			margin-top: 45vh;
		}
	}	
	@media(min-width: $md){
		.home-heading{
			background: none;
			p{
				max-width: 16em;
			}
		}
		
	}
	@media(min-width: $lg){
		min-height: 500px;
		.home-heading{
			margin-top: 10em;
			p{
				max-width: 19em;
			}
		}
	}
	@media(min-width: $xl){
		max-height: 800px;
		.home-heading{
			margin-top: 15em;
		}
	}
}
.section-heading{
	padding-left: 2em;
	@media(min-width:$md){
		padding-left: 3em;
	}
	@media(min-width:$lg){
		padding-left: 5em;
	}
}
.about{
	article{
		margin: 0 auto;
		padding: 1em;
		background: rgba(white,.7);
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		color: $secondary;
		p:first-child{
			padding-bottom: .5em;
		}
	}
	@media(min-width: $lg){
		article{
			width: 80%;
		}
	}
}
.services{
	.services-row{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.services-card{
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		width: 25vw;
		min-width: 15em;
		margin: 1vw;
		padding: 1em;
		.services-card__details{
			padding: .5em 0;
			color: $secondary;
		}
		.services-card__cta{
			margin-left: 50%;
			transform: translateX(-50%);
			white-space: nowrap;
		}
	}
}
.contact{
	.contact-box{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.contact-link{
		display: flex;
		align-items: center;
		margin: .5em 1em;
		font-size: 1.1em;
		color: $secondary;
		&:hover, &:focus{
			color: $primary;
		}
		.contact-link__icon{
			font-size: 1.4em;
			padding-right: .25em;
		}
	}
}
footer{
	padding: .5em 1em;
	font-size: .8em;
	background: $secondary;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-wrap: wrap;
	.footer-box{
		display: inline-block;
		margin: 1em;
		.footer-box__heading{
			font-size: .7em;
			font-weight: 700;
			text-transform: uppercase;
			color: white;
			padding-bottom: .5em;
			@media(min-width: $md){
				font-size: .9em;
			}	
		}
		.footer-box__link{
			display: block;
			color: white;
			padding: .2em .2em .2em 0;
		}
	}
}