@import '_base';
@import '_icons';
main{
	position: relative;
	min-height: 100vh;
}
.particles{
	position: absolute;
	z-index: -2;
	overflow: hidden;
	&:first-child{
		top: 0;
		right: 0;
	}
	&:nth-child(2){
		top: 0;
		left: 0;
	}
	&:nth-child(3){
		right: 10%;
		top: 60vh;
	}
}
.bg{
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	z-index: -1;
}
.home {
	max-height: 800px;
	min-height: 350px;
	position: relative;
	padding: 1em;
	.home-heading{
		padding: 10em 0 0 .8em;
		p{
			max-width: 16em;
			padding-bottom: 1em;
			margin-top: -1em;
		}
	}
	@media(min-width: $md){
		.home-heading{
			padding: 12em 0 0 .8em;
		}
	}
	@media(min-width: $lg){
		min-height: 500px;
		.home-heading{
			padding: 15em 0 0 2em;
			p{
				max-width: 25em;
			}
		}
	}
}
.contact{
	.contact-box{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	a{
		display: flex;
		align-items: center;
		margin: .25em 1em;
		font-size: 1.1em;
		&:hover, &:focus{
			color: $primaryDarker;
		}
		span{
			font-size: 1.4em;
			padding-right: .25em;
		}
	}
}
footer{
	padding: 1em;
	font-size: .8em;
	background: $third;
	.links{
		a{
			color: $secondary;
			display: block;
			padding: .2em 0;
			&:hover, &:focus{
				color: $primary;
			}
		}
	}
}